<div id="template-product-images" >
    {%- for image in product.images -%}
    <div class="product-single__thumbnail-item product-single__thumbnail-item-{{ section.id }}{% if image == featured_image %} is-active{% endif %}" data-image-id="{{ image.id }}">
        <img src="{{ image | image_url }}">
    </div>
    {%- endfor -%}
</div>

