<div class="video-container">
  <iframe class="lazyload" width="{% render 'shortcode-render' render:'width' default:'640' %}" height="{% render 'shortcode-render' render:'height' default:'390' %}" src="//www.youtube.com/embed/{% render 'shortcode-render' render:'video' default:'M7lc1UVf-VE' %}" ></iframe>
</div>