{% capture handle %}{% render 'shortcode-render' render:'handle' %}{% endcapture %}
{% capture title %}{% render 'shortcode-render' render:'title' %}{% endcapture %}
{% capture class %}{% render 'shortcode-render' render:'class' %}{% endcapture %}
{% capture id %}{% render 'shortcode-render' render:'id' %}{% endcapture %}
{% capture columnsProduct %}{% render 'shortcode-render' render:'columnsProduct' %}{% endcapture %}
{% capture limit %}{% render 'shortcode-render' render:'limit' %}{% endcapture %}

  {%- assign columns_product_collections = columnsProduct | plus: 0 -%}
  {%- assign colItem = 12 | divided_by:columns_product_collections -%}
  {%- if columns_product_collections == 5 -%}
  {%- capture grid_width -%} col-lg-3 col-md-3 col-sm-6 col-6{%- endcapture -%}
  {%- else -%}
  {%- capture grid_width -%}col-md-{{ colItem }} col-sm-6 col-6{%- endcapture -%}
  {%- endif -%}
{% if limit != blank %}
    {% assign product_per_page = limit %}
{% else if settings.collection_product_per_page != blank %}
    {% assign product_per_page = settings.collection_product_per_page %}
{% else %}
    {% assign product_per_page = 12 %}
{% endif %}
<h4>{{ title }}</h4>

<div class="row">
  {% for product in collections[handle].products limit:limit %}
  <div class="{{grid_width}}">
    {% render 'product-card', product: product %}
  </div>
  {% else %}
  <div class="col-md-12">
    {% render 'collection-blank' %}
  </div>
  {% endfor %}
</div>